@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
  --transpatent: rgba(255,255,255,.0);
  --semi-transparent: rgba(255,255,255,.6);
  --white: rgb(255,255,255);
  --black: rgb(0,0,0);
  --main-light: #d8c0a8;
  --main-darker: #69422e;
  --main: #b88c76;
  --discount-color: #FFAA33;
  --main-margin: 5% auto;
}

* {
  box-sizing: border-box; 
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; 
}

body {
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  color: var(--main-darker);
  font-size: 12px;
}

header,
section {
  max-width: 90%;
  margin: var(--main-margin);
}

h2 {
  font-size: 1.5rem;
  margin-top: 3%; 
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--main-darker);
  margin-top: 2%;
  letter-spacing: .05%; 
}

.grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2%;
  display: grid;
  padding: 3% 0;
}

.grid__box {
  padding: 3% 3% 15%;
  background-color: var(--main-light);
  position: relative;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border: 1px solid var(--main-darker);
} 
  
.grid__box:hover .grid__img {
  opacity: .3;
  cursor: pointer; 
}

.grid__box:hover .discountsticker {
  display: none; 
}

.grid__box:hover .discountsticker__label--hidden {
  display: block;
  cursor: pointer; 
}

.grid__img {
  width: 100%;
  margin: 0 auto;
}

.discountsticker {
  position: absolute;
  bottom: 30%;
  color: var(--main-darker);
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  display: grid;
  font-size: 14px;
  line-height: 14px;
  width: 60%;
}

.discountsticker__precentage {
  background-color: var(--white);
  text-align: center;
  padding: 15%;
  margin: auto 0;
}

.discountsticker__label {
  background-color: var(--discount-color);
  color: var(--main-darker);
  padding: 3%;
  margin: auto 0;
}

.discountsticker__label--hidden {
  display: none;
  position: absolute;
  bottom: 30%;
  left: 10%;
  font-size: 4rem;
  color: var(--main-darker);
  font-size: bold;
}

@media (min-width: 1920px) {
  
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .discountsticker {
    font-size: 2rem;
  }

  .discountsticker__precentage {
    padding: 25%;
  }
  
  .discountsticker__label {
    padding: 5%;
  }
}

@media (min-width: 768px) and (max-width: 925px) {

  header,
  section {
    max-width: 90%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1% 2%; 
    margin-bottom: 15%;
  } 
}

@media screen and (max-width: 576px) {

  header,
  section {
    max-width: 90%;
  }
  
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1%;
  } 
}